DB_HOST=localhost
DB_PORT=5432
DB_NAME=steam_dw
DB_USER=postgres
DB_PASSWORD=CHANGE_ME
DB_SCHEMA=steam_dw

STEAM_API_BASE_URL=https://api.steampowered.com
STEAM_STORE_BASE_URL=https://store.steampowered.com

ETL_REQUEST_DELAY=0.4
ETL_TIMEOUT=15
